<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Agregar usuario</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Agregar nuevo usuario</h1>
		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<form action="#" th:action="@{/saveUsuario}"
							th:object="${usuario}" method="POST"
							enctype="multipart/form-data">

							<input type="text" th:field="*{username}"
								placeholder="Nombre de usuario" class="form-control mb-4">

							<input type="password" th:field="*{contraseña}"
								placeholder="Contraseña" class="form-control mb-4"> <input
								type="email" th:field="*{email}"
								placeholder="Correo electrónico" class="form-control mb-4">

							<input type="text" th:field="*{telefono}"
								placeholder="Número de teléfono" class="form-control mb-4">

							<div class="form-group">
								<label class="btn btn-outline-secondary col-12"> Agregar Imagen <input
									type="file" name="file" accept="image/*" class="m-2"
									style="display: none;" required>
								</label>
							</div>
							<div class="form-group">
								<label class="btn btn-outline-secondary col-12"> Agregar documento PDF 
									<input
									type="file" name="pdfDoc" style="display: none;" accept="application/pdf"
									required>
								</label>
							</div>
							<button type="submit" class="btn btn-info">Agregar</button>

						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>